extends email-layout

block content
    p="Hello reviewer! "+article.firstname+" "+article.lastname+" made updates to their article submission titled "+article.title
    br
    p Please review their updates at your earliest convenience.
    