extends email-layout

block content
    h5 Thank you for contributing to the Westridge Archives!
    p Your article has been submitted for review. Check your inbox in the coming weeks for updates regarding your article's review process. We very thoruoughly review all articles submitted to our database. Each submission will go through two stages of review minimum. If necessary, you will be contacted with any questions the reviewers might have or edits you need to make before we publish your work.
    p Thank you so much!
    p Your friends at the Westridge Archives