extends email-layout

block content
  h2 A quick question for you:
  p Hello! A username was using your pattern pattern name and had a quick question. Read their message below:
  br
  p user question email
  br
  p Respond to their question by emailing them at user email Thank you so much and keep creating!