extends email-layout

block content
    p Thank you again for contributing to the Westridge Archives! Your submission is currently under review. Please read this message from one of our dedicated reviewers:
    p=message
    p="The status of your submission is: "+status