extends layout

include mixins/_reviewArticleCard

block content
    .reviewers
        .links
            a.link(href='/toreview') To Review
            a.link(href='/reviewed') Reviewed
        each article in articles
            +reviewArticleCard(article)
        if articles.length==0
            div.card-body
                h5.card-title No articles here!