extends layout

include mixins/_articleForm

block content
    br
    .contribute
        h5.card-title Contribute
        p Thank you so much for your interest in contributing to our archives. Fill out the form below to submit your article/reasearch for review. We will send you updates via email as your submission goes through the review process.
        +articleForm()