extends layout

block content
  .reviewers.card-body
    h5 Contact
    p We're here to assist you! Whether you have a question, need support, or want to provide feedback, we value your input and are committed to providing the best possible experience on our website.
    p Please use the form below to get in touch with our team. We strive to respond to all inquiries within [insert timeframe], although response times may vary based on the volume of messages received. For urgent matters, please indicate the nature of your request, and we'll make every effort to prioritize it. 
    p Please note that if you have specific inquiries about a particular article, content, or user account, kindly include relevant details to help us better address your concerns.
    p Thank you for visiting our website, and we look forward to assisting you!