extends layout

block content 
  .reviewers.card-body
    form.form(action=`/reviewers/edit/${reviewer.id}` method="POST")
      h2 Reviewer Authentication
      label(for="status") Reviewer Status 
      select(name='status')
          option(value = 0) Level 0 - Site Viewer
          option(value = 1) Level 1 - Site Viewer Interested in Reviewing
          if user.status==3
            option(value = 2) Level 2 - Reviewer Privileges
          if user.status==4
            option(value = 2) Level 2 - Reviewer Privileges
            option(value = 3) Level 3 - Administrative Privileges
          
          
            //            option(value = reviewer.status selected)= words[reviewer.status-1]
            //            each number in numbers
            //                if number!=reviewer.status
            //                    option(value=number)=words[number-1]
            //          if user.status==3
            //            option(value = reviewer.status selected)= words[reviewer.status-1]
            //            each digit in digits
            //                if digit!=reviewer.status
            //                    option(value=digit)=words[digit.status-1]
      br
      input.button.btn.btn-primary(type="submit" value="Update Status →" id="submitbutton")