doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Document Archive Website
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    link(rel='stylesheet', href=`/styles.css` id='mainStylesheet')
  body
    block header
        nav.navbar.navbar-expand-lg
          a.navbar-brand(href='/')
            img(src="/images/WLogo.png", alt="Westridge" height="50px") 
          a.navbar-brand(href='/') Archives
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          div.collapse.navbar-collapse#navbarNav
            ul.navbar-nav.ml-auto
              li.nav-item
                a.nav-link(href='/') HOME
              li.nav-item
                a.nav-link(href='/contribute') CONTRIBUTE
              li.nav-item
                a.nav-link(href='/contact') CONTACT
                if user && user.status==4
                  li.nav-item
                    a.nav-link(href='/reviewers') REVIEWERS
                  li.nav-item
                    a.nav-link(href='/toreview') ARTICLES TO REVIEW
                  li.nav-item
                    a.nav-link(href=`/account/${user._id}`) ACCOUNT
                  li.nav-item
                    a.nav-link(href='/settings') SETTINGS
                  li.nav-item
                    a.nav-link(href='/logout') LOGOUT
                else if user && user.status==3
                  li.nav-item
                    a.nav-link(href='/reviewers') REVIEWERS
                  li.nav-item
                    a.nav-link(href='/toreview') ARTICLES TO REVIEW
                  li.nav-item
                    a.nav-link(href=`/account/${user._id}`) ACCOUNT
                  li.nav-item
                    a.nav-link(href='/logout') LOGOUT
                else if user && user.status==2
                  li.nav-item
                    a.nav-link(href='/reviewers') REVIEWERS
                  li.nav-item
                    a.nav-link(href='/toreview') ARTICLES TO REVIEW
                  li.nav-item
                    a.nav-link(href=`/account/${user._id}`) ACCOUNT
                  li.nav-item
                    a.nav-link(href='/logout') LOGOUT
                else if user 
                  li.nav-item
                    a.nav-link(href=`/account/${user._id}`) ACCOUNT
                  li.nav-item
                    a.nav-link(href='/logout') LOGOUT
                else
                  li.nav-item
                    a.nav-link(href='/login') LOGIN
                
    .content
        block content
    button.darkbutton
      img(src=`/images/darkbutton.png`, alt="Westridge", height="50px", id="modeButton")
    script.
      // Load initial mode from local storage or default to dark mode
      var stylesheetArray = ['/styles.css', '/dmstyles.css'];
      var buttonsArray = ['/images/darkbutton.png', '/images/lightbutton.png'];
      var stylesheet = stylesheetArray[0];
      var whichButton = buttonsArray[0];
      // Function to toggle the stylesheet
      function toggleStylesheet() {
        console.log("toggle view");
        if (stylesheet === stylesheetArray[0]) {
          stylesheet = stylesheetArray[1];
          whichButton = buttonsArray[1];
          document.cookie = 'mode=dark';
        } else if (stylesheet === stylesheetArray[1]) {
          stylesheet = stylesheetArray[0];
          whichButton = buttonsArray[0];
          document.cookie = 'mode=light';
        }
        // Update the stylesheet link
        document.querySelector('#mainStylesheet').href = stylesheet;
        document.querySelector('#modeButton').src = whichButton;
      }
      function loadMode(){
        if (document.cookie.length > 0) {
            var mode = document.cookie.match(/mode=(dark|light)/)[1];
            if (mode=="dark") {
              stylesheet = stylesheetArray[1];
              whichButton = buttonsArray[1];
            }
            else if (mode=="light") {
              stylesheet = stylesheetArray[0];
              whichButton = buttonsArray[0];
            }  
            document.querySelector('#mainStylesheet').href = stylesheet;
            document.querySelector('#modeButton').src = whichButton;
        }
      }
      // Bind the click event to the button
      document.querySelector('.darkbutton').addEventListener('click', toggleStylesheet);
      document.querySelector('#mainStylesheet').addEventListener('load', loadMode);
