extends layout

include mixins/_loginForm
include mixins/_forgot

block content
  .contribute
    br
    .card-body
        +loginForm
        br
        h5 Don't have an account?
        button.btn.btn-primary(type="submit" href='/register' id="submitbutton")="Create Account"
        br
        br
        +forgotForm