extends layout

block content
  .reviewers.card-body
    form.form(action="/register" method="POST")
      h5 Register to Review
      label(for="name") Name 
      input(type="text" name="name")
      br
      label(for="email") Email 
      input(type="email" name="email")
      br
      label(for="password") Password 
      input(type="password" name="password")
      br
      label(for="password-confirm") Confirm Password 
      input(type="password" name="password-confirm")
      br
      input.button.btn.btn-primary(type="submit" value="Register →" id="submitbutton")
