extends layout

block content
    br
    .contribute
        .card-body
            h5 Thank you for contributing to the Westridge Archive!
            p Please keep an eye out for an email from us with updates on the review status of your submission